h5py
imageio
isort
matplotlib
numpy
pandas
path.py
Pillow
pkginfo
plotly
ply
prettytable
pyOpenSSL
pyparsing
PySocks
pytest
tqdm
avro-python3
xmltodict
boto
boto3
GitPython
scipy
scikit-learn
scikit-video
pyyaml
moviepy
ffmpeg-python
